.auth-form {
    img {
        width: 20px;
        height: 20px;
    }
    .codeImg {
        width: 100px;
        height: 46px;
        line-height: 46px;
        margin-left: 20px;
        display: inline-block;
        cursor: pointer;
    }
    &::v-deep(.el-input-group__prepend) {
        background: #fff;
        padding: 4px 12px 0;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 20px;
            background: #dcdfe6;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &::v-deep(.el-input-group__append) {
        background: #fff;
        width: 100px;
        padding: 0;
    }
    &::v-deep(.el-form-item.is-error .el-input__inner) {
        border-color: #dcdfe6;
    }
    &::v-deep(.el-input__inner) {
        height: 48px;
        line-height: 48px;
        padding-right:15px;
        &:hover,&:focus {
            border-color: #dcdfe6;
        }
    }

    &::v-deep(.el-form-item__error) {
        position: absolute;
        padding-left:18px;
        font-size: 14px;
        &::before {
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            left: 0px;
            top: 4px;
            background: url(@/assets/images/login/warn.png) no-repeat center/100%;
        }
    }
    &::v-deep(.el-form-item__content) {
        height: 48px;
    }
    .auth-button {
        width: 100%;
        min-height: 50px;
        margin-top: 18px;font-size:20px;font-weight: bold;
    }

}
